@model SI.Models.Post

@{
    ViewBag.Title = Model.Title;
}

<div>
    <h2>@Html.DisplayFor(model => model.Title)</h2>
    @Helper.PostImg(Model)
    <div>
        @Html.ActionLink("Edit", "Edit", "Post", new { id = Model.Id }, null) |
        @Html.ActionLink("Delete", "Delete", "Post", new { id = Model.Id }, null)
    </div>
    <hr />
</div>

<h3>Comments</h3>

@Html.Partial("_NewComment", new SI.Models.Comment(Model.Id))

@foreach (var com in Model.Comments)
{
    <div class="comment">@com.Body</div>
}