@model SI.Models.Post


<div>
    <h4>@Html.DisplayFor(model => model.Title)</h4>
    <p>// Wyobraź sobie że to jest obrazek</p>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index", "Home")
    </p>
    <hr />
</div>

@Html.Partial("_NewComment", new SI.Models.Comment(Model.Id))

@foreach (var com in Model.Comments)
{
    <div class="comment">@com.Body</div>
}