<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        @(ViewBag.Title != null ? ViewBag.Title + " - " : "")BengBeng
    </title>

    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/bundles/jqueryuicss")
    @Styles.RenderFormat(@"<link href=""{0}"" rel=""stylesheet"" title=""dark"" />", "~/Content/cssThemeDark")
    @Styles.RenderFormat(@"<link href=""{0}"" rel=""stylesheet"" title=""light"" />", "~/Content/cssThemeLight")
    @Styles.Render("~/Content/cssDark")
    @Styles.Render("~/Content/css")


</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("BengBeng", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Add", "Create", "Post")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Dziki zgon programmers </p>
                <div class="slider demo" id="slider-2">
                    <input type="checkbox" id="jebanyklikacz" name="cbSkin" value="" onclick='handleCbChange(this);' />
                </div>

        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/Scripts/scriptsDark")
    @RenderSection("scripts", required: false)
    <script>

        $("#slider-2.demo input").switchButton({
            on_label: 'Night',
            off_label: 'Light',
            width: 40,
            height: 15,
            button_width: 16
        });
        setStyleFromCookie();
       
        function switch_style(css_title) {
            var i, link_tag;
            for (i = 0, link_tag = document.getElementsByTagName("link") ;
              i < link_tag.length ; i++) {
                if ((link_tag[i].rel.indexOf("stylesheet") != -1) &&
                  link_tag[i].title) {
                    link_tag[i].disabled = true;
                    if (link_tag[i].title == css_title) {
                        link_tag[i].disabled = false;
                    }
                }
            }
            setCookie("style", css_title, 20);
            console.log(getCookie("style"));
        }

        function setCookie(cname, cvalue, exdays) {
            var d = new Date();
            d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
            var expires = "expires=" + d.toGMTString();
            document.cookie = cname + "=" + cvalue + "; " + expires;
        }

        function getCookie(cname) {
            var name = cname + "=";
            var ca = document.cookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') c = c.substring(1);
                if (c.indexOf(name) == 0) {
                    return c.substring(name.length, c.length);
                }
            }
            return "";
        }

        function setStyleFromCookie() {
            var style = getCookie("style");
            switch_style(style);   
        }

        function setCheckboxFromCookie() {
            if (getCookie("style").length === 4) {
                $("#jebanyklikacz").switchButton({
                    checked: true
                });
                console.log(getCookie("style").length);
                $("#checkbox").prop("checked", true);
            }
            else
                $("#jebanyklikacz").switchButton({
                    checked: false
                });
        }

        $('input[name=cbSkin]').change(function () {
            if (document.getElementById("jebanyklikacz").checked === true) {
                switch_style('dark');
            }
            else {
                switch_style('light');
            }
        });
        setCheckboxFromCookie();

       
    </script>

</body>
</html>
